#posts
  ul#sortable.post
    - each post in posts
      li.title.sortable
        h1
          a(href="/posts/"+ post._id.toHexString())!= post.title
        span.button
          a.orange.awesome(href="/posts/edit/"+ post._id.toHexString())!= " edit"
        span.button
          a.red.awesome(href="/posts/remove/"+ post._id.toHexString())!= " delete"
