!!!
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    //script(type='text/javascript', src='http://code.jquery.com/jquery-1.6.4.min.js')
    //script(type='text/javascript', src='/javascripts/jquery.editinplace.js')
    //script(type='text/javascript', src='/javascripts/inPlaceEditing.js')
  
  include includes/head
  
  body!= body
    